<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:camel="http://camel.apache.org/schema/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd          
		http://camel.apache.org/schema/spring 
		http://camel.apache.org/schema/spring/camel-spring.xsd">

	<bean id="helloSayer" class="com.deloitte.camel.processor.HelloSayer" />
	<bean id="fileTypeFilter" class="com.deloitte.camel.custom.filters.FilterUitl"></bean>

	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<camel:route>
			<camel:from uri="file:C:/sender?noop=false?&amp;include=.*.xml" />
			<camel:process ref="helloSayer"/>
			<camel:to uri="file:C:/receiver"/>
		</camel:route>
	</camelContext>
</beans>